[submodule "submodule_check"]
	path = submodule_check
	url = https://github.com/karthikvch/submodule_check
[submodule "submodule_python_check"]
	path = submodule_python_check
	url = https://github.com/karthikvch/submodule_python_check
